
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 body {
    background-color: #55868C;
 } 
.container {
    width: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #CACAAA;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #55868C;
    font-size: 16px;

}

.search-box button{
    padding: 5px 0px;
    width: 25%;
    background-color: #55868C;
    outline: none;
    border: none;
    color: #CACAAA;
    border-radius: 5px;

}

.result {
    position: relative;
}

.result h3 {
    font-size: 30px;
    color: #503F46;
}

.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button {
    background-color: transparent;
    color: #55868C;
    border: none;
    outline: none;
    font-size: 20px;

}

.result .details{
    display: flex;
    gap: 10px;
    color: #A58D98;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.definition{
    color: #7E636F;
}

.example{
    color: #7E636F;
    font-style: italic;
    border-left: 5px solid #55868C;
    padding-left: 20px;
    margin-top: 30px;
}
/* .btn {
    padding: 10px 20px;
    background-color: #EEC584;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #7F636E;
} */
